<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to root_path do %>
    <i class="fa fa-twitter fa-3x navbar-brand"></i>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-right" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <% if user_signed_in? %>

        <%= link_to 'Add a Tweet', new_tweet_path, class: 'nav-link' %> 
        <%= link_to 'View Your Tweets', root_path, class: 'nav-link' %> 
        <%= link_to 'Edit Profile', edit_user_registration_path, class: 'nav-link' %> 
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %> 
        
      <% else %>

       <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %> 
        <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %> 
        
      <% end %>
    </ul>
  </div>
</nav>